.divBotões {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.menuButton {
    width: 350px;
    height: 131px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 5px solid #242633;
    background: rgba(36, 38, 51, 0.60);
    color: #EDDDB4;
    text-align: center;
    font-family: Fenix;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menuInner {
    padding: 10px;
}