.divTextAreaPessoa {
    min-width: 592px;
    min-height: 592px;
    flex-shrink: 0;
    max-width: 592px;
    max-height: 592px;
    display: flex;
    height: 592px;
    width: 592px;
}

.textAreaPessoa {
    display: flex;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    border-radius: 20px;
    border: 5px solid #242633;
    background: rgba(36, 38, 51, 0.60);
    resize: none;
}
