.outsideForm {
    display: flex;
    height: 88vh;
    width: 100%;
    justify-content: center;
    background: #10141B;
}
.formPessoa {
    display: flex;
    max-width: 404px;
    max-height: 592px;
    flex-direction: column;
    margin-left: 194px;
    margin-top: 92px;
    justify-content: space-between;
}

.radioButtons{
    color: #EDDDB4;
    font-family: Fenix;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.inputPessoa {
    width: 351px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 5px solid rgba(237, 221, 180, 0.80);
    background: #242633;
    color: #EDDDB4;
    font-family: Fenix;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.divForm input{
    color: #EDDDB4;
    font-family: Fenix;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 351px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 5px solid #242633;
    background: rgba(36, 38, 51, 0.60);
}


.divForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 61px;
    color: #EDDDB4;
    font-family: Fenix;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.radio {
    display: flex;
}

.divTextAreaPessoa {
    margin-right: 123px;
    margin-top: 92px;
    margin-bottom: 108px;
    margin-left: 163px;
    resize: none;
}