
/* App.css (ou onde você estiver definindo o estilo para o componente App) */

html, body {
  height: 100%;
  margin: 0;
}

.App {
  flex-direction: column;
  text-align: center;
  background-color: #10141B;
  color: #fff;
  height: 100%;
  justify-content: center;
}

.footer {
  background-color: #242633;
}

* {
  font-family: 'Fenix', sans-serif;
}